.rmg {
--font-family: 'Roboto', sans-serif; /* Font face used in the application */
--background-color: #F2F2F7; /* Color of background, also used in error message */
--font-color: #ffffff; /* Color of icons in the header and text */
--header-color: #147C3E; /* Background color of the header */
--main-light-color: #147C3E; /* Color of header navigation separators */
--main-hover-color: rgba(0, 72, 51, 0.2);
--header-font-color: #ffffff; /* Color of the decorational line marking active header element */ --main-hover-color: #434e61; /* Color of the active and hovered header item */
--prematch-color: #F2F2F7; /* Background color of the prematch screen */ 
--prematch-font-color: #ffffff; /* Font color of the prematch screen */ 
--slider-background-color: #ffffff; /* Background color of the slider */ 
--slider-nav-button-color: #D5D5D8;/* Color of the slider's nav button */ 
--slider-nav-active-button-color: #147C3E; /* Color of the slider's active nav button */ 
--video-tab-color: #ffffff; /* Background color of the video tab */
}

.rmg-container .volume-switch { 
--color: #474752;
}


.loader-wrapper .loader { 
--background-image: url('../images/loader.gif');
--background-repeat: no-repeat; 
--background-size: 100px 100px; 
--height: 100px;
--width: 100px;
}
